version: 2.1

orbs:
  codecov: codecov/codecov@1.0.4

defaults: &defaults
  working_directory: /src
  docker:
    - image: golang:1.12

jobs:
  lint_markdown:
    <<: *defaults
    docker:
      - image: node:11-slim
    steps:
      - checkout
      - run:
          name: Install markdownlint
          command: npm install -g markdownlint-cli
      - run:
          name: Check for Lint
          command: markdownlint -i vendor .

  cache_go_mod:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-{{ checksum "go.sum" }}
      - run:
          name: Populate Go Mod Cache
          command: go mod download
      - save_cache:
          key: go-mod-{{ checksum "go.sum" }}
          paths:
            - '/go/pkg/mod'
      - run:
          name: Check vendor/ module is up-to-date
          command: scripts/check-vendor

  build_source:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-{{ checksum "go.sum" }}
      - run:
          name: Build Source
          command: ./build.sh

  lint_source:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-{{ checksum "go.sum" }}
      - run:
          name: Install golangci-lint
          command: curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s -- -b $(go env GOPATH)/bin v1.16.0
      - run:
          name: Check for Lint
          command: golangci-lint run

  unit_test:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-{{ checksum "go.sum" }}
      - run:
          name: Run Tests
          command: go test -coverprofile cover.out -race ./...
      - codecov/upload:
          file: cover.out

workflows:
  version: 2

  build_and_test:
    jobs:
      - lint_markdown
      - cache_go_mod
      - build_source:
          requires:
            - cache_go_mod
      - lint_source:
          requires:
            - cache_go_mod
      - unit_test:
          requires:
            - cache_go_mod
