name: ci
on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'

jobs:
  build_and_test:
    name: build_and_test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Check for markdown Lint
        run: |
          sudo npm install -g markdownlint-cli
          markdownlint .

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: '1.17.x'

      - name: Check go.mod and go.sum are tidy
        run: |
          go mod tidy
          git diff --exit-code -- go.mod go.sum

      - name: Build Source
        run: go run mage.go build:source

      - name: Install Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.43

      - name: Run Lint
        run: |
          golangci-lint run

      - name: Run Tests
        run: go run mage.go cover:unit cover.out

      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          files: cover.out
          flags: unittests
          name: codecov

      - name: Test Release
        run: curl -sL https://git.io/goreleaser | bash -s -- --snapshot --skip-publish
